@import "../css/reset.css";
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.title {
  text-align: center;
}
.title h2 {
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: 800;
  color: #34404b;
}
.title h2 > span {
  color: #ff5912;
}
.title p {
  color: #495662;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
.icons .share a {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -150px -1px;
}
.icons .share a:hover {
  background-position-y: -31px;
}
.icons .add_cart {
  margin: 0 30px;
}
.icons .add_cart a {
  width: 22px;
  height: 19px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -180px 0px;
}
.icons .add_cart a:hover {
  background-position-y: -30px;
}
.icons .like a {
  width: 19px;
  height: 16px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -210px 0px;
}
.icons .like a:hover {
  background-position-y: -30px;
}

/* header */
.small_header {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #e6e8eb;
}
.small_header .company_info a {
  margin-right: 20px;
  padding-left: 23px;
  font-size: 12px;
  position: relative;
}
.small_header .company_info a::before {
  content: "";
  width: 18px;
  height: 11px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.small_header .company_info a + a::before {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -30px 0;
}
.small_header .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.small_header .social li {
  margin-left: 20px;
}

.big_header {
  height: 120px;
  line-height: 120px;
  border-bottom: 1px solid #e6e8eb;
}
.big_header .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.big_header .gnb .logo {
  margin-right: 84px;
}
.big_header .gnb .logo img {
  vertical-align: middle;
}
.big_header .gnb .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.big_header .gnb .menu li {
  margin-right: 40px;
}
.big_header .gnb .menu li a:hover {
  color: #ff5912;
}
.big_header .gnb .menu li a[href="products.html"] {
  color: #ff5912;
}
.big_header .shopping_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.big_header .shopping_nav li {
  margin-left: 30px;
  position: relative;
}
.big_header .shopping_nav li form {
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.big_header .shopping_nav li form input[type=text] {
  width: 170px;
  padding-bottom: 4px;
  display: none;
  border-bottom: 1px solid #e6e8eb;
  color: #34404b;
  outline: none;
}
.big_header .shopping_nav li form input[type=text]:focus {
  border-bottom-color: #ff5912;
}
.big_header .shopping_nav li form .search_icon {
  width: 22px;
  height: 19px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -59px 0;
}
.big_header .shopping_nav li form .search_icon:hover {
  background-position-y: -30px;
}
.big_header .shopping_nav li .mypage_icon {
  width: 22px;
  height: 21px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -89px 0;
}
.big_header .shopping_nav li .mypage_icon:hover {
  background-position-y: -30px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -89px -30px;
}
.big_header .shopping_nav li .cart_icon {
  width: 26px;
  height: 17px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -119px 0;
}
.big_header .shopping_nav li .cart_icon:hover {
  background-position-y: -30px;
}
.big_header .shopping_nav li .cart_icon::before {
  content: attr(data-cart);
  width: 18px;
  height: 18px;
  font-size: 10px;
  text-align: center;
  line-height: 18px;
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  background: #34404b;
  border-radius: 50%;
}

/* product info */
.product_info {
  padding: 104px 0 130px 0;
}
.product_info .product_pictures {
  text-align: center;
}
.product_info .product_pictures .thumb_img {
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}
.product_info .product_pictures .thumb_img li {
  width: 95px;
  height: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  background: #f4f6f8;
}
.product_info .product_pictures .thumb_img li.active img {
  opacity: 0.3;
}
.product_info .product_pictures .thumb_img li button {
  width: 100%;
  height: 100%;
}
.product_info .product_specs > h2 {
  margin-bottom: 20px;
  font-size: 52px;
  font-weight: 800;
  color: #ff5912;
}
.product_info .product_specs > h3 {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #3c4751;
}
.product_info .product_specs > p {
  color: #495662;
}
.product_info .product_specs form .option {
  margin: 40px 0;
  padding: 40px 0;
  border-top: 1px solid #edeff1;
  border-bottom: 1px solid #edeff1;
}
.product_info .product_specs form .option .size_box {
  display: flex;
  font-size: 18px;
  font-weight: 600;
}
.product_info .product_specs form .option .size_box .select_size {
  margin-left: 20px;
  font-size: 14px;
}
.product_info .product_specs form .option .size_box .select_size li {
  display: inline-block;
  vertical-align: middle;
}
.product_info .product_specs form .option .size_box .select_size li input[type=radio] {
  display: none;
}
.product_info .product_specs form .option .size_box .select_size li input[type=radio]:checked + label {
  font-size: 18px;
  color: #ff5912;
}
.product_info .product_specs form .option .size_box .select_size li label {
  font-size: 14px;
  vertical-align: middle;
  transition: font-size 0.1s;
  cursor: pointer;
}
.product_info .product_specs form .option .choos_quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.product_info .product_specs form .option .choos_quantity .quantity {
  margin-left: 20px;
}
.product_info .product_specs form .option .choos_quantity .quantity input[type=text] {
  width: 30px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  color: #ff5912;
}
.product_info .product_specs form .order_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;
}
.product_info .product_specs form .order_box .total_price {
  font-size: 20px;
  font-weight: 800;
}
.product_info .product_specs form .order_box .order_now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.product_info .product_specs form .order_box .order_now button[type=submit] {
  width: 134px;
  margin-left: 24px;
  line-height: 49px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background: #ff5912;
  border-radius: 25px;
}

main {
  padding: 120px 0;
  background: #f4f6f8;
  /* new_arrivals */
  /* news letter */
}
main .new_arrivals {
  text-align: center;
}
main .new_arrivals .product_list {
  margin: 80px -15px 60px;
}
main .new_arrivals .product_list .product {
  width: 270px;
  height: 365px;
  overflow: hidden;
  margin: 0 20px 20px 0;
  padding: 30px 0;
  background: #fff;
  position: relative;
  transition: box-shadow 0.4s;
}
main .new_arrivals .product_list .product:nth-child(4n) {
  margin: 0 0 20px 0;
}
main .new_arrivals .product_list .product .info {
  font-size: 18px;
  font-weight: 700;
}
main .new_arrivals .product_list .product .info img {
  width: 160px;
  height: 216px;
  transition: all 0.4s;
}
main .new_arrivals .product_list .product .info .product_name {
  margin: 30px 0;
}
main .new_arrivals .product_list .product .info .price {
  color: #ff5912;
}
main .new_arrivals .product_list .hover {
  opacity: 0;
  transition: opacity 0.4s;
}
main .new_arrivals .product_list .hover .size {
  margin-bottom: 30px;
  display: -webkit-inline-flex;
  display: -webkit-inline-box;
  display: inline-flex;
  font-size: 14px;
}
main .new_arrivals .product_list .hover .size span {
  margin: 0 15px;
}
main .new_arrivals .product_list .hover .color span {
  width: 14px;
  height: 13px;
  display: inline-block;
  background: #000;
  border-radius: 50%;
}
main .new_arrivals .product_list .hover .color .red {
  background: #e12e3f;
}
main .new_arrivals .product_list .hover .color .black {
  background: #34404b;
}
main .new_arrivals .product_list .hover .color .blue {
  background: #3ab3ff;
}
main .new_arrivals .product_list .hover .color .green {
  background: #2fd967;
}
main .new_arrivals .product_list .product:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
main .new_arrivals .product_list .product:hover .info img {
  width: 70px;
  height: 90px;
}
main .new_arrivals .product_list .product:hover .info .product_name {
  color: #ff5912;
}
main .new_arrivals .product_list .product:hover .info .price {
  display: none;
}
main .new_arrivals .product_list .product:hover .hover {
  opacity: 1;
}
main .new_arrivals .more_view {
  line-height: 60px;
  background: #fff;
}
main .new_arrivals .more_view span {
  width: 35px;
  height: 8px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat right 0;
}
main .news_letter {
  height: 123px;
  margin-top: 120px;
  padding: 0 40px 0 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}
main .news_letter .newsLetter_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
main .news_letter .newsLetter_title h2 {
  margin-right: 24px;
  font-size: 18px;
  font-weight: 700;
  color: #ff5912;
}
main .news_letter .newsLetter_title p {
  font-size: 14px;
  font-style: italic;
}
main .news_letter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}
main .news_letter form label {
  width: 18px;
  height: 11px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat 0 0;
  position: absolute;
  top: 50%;
  left: -30px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
main .news_letter form input[type=email] {
  outline: none;
}
main .news_letter form button[type=submit] {
  width: 150px;
  height: 50px;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  background-color: #ff5912;
}

/* footer */
footer {
  width: 100%;
  height: 244px;
  color: #28313b;
}
footer .container {
  height: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;
}
footer .container .copyright p {
  margin-top: 20px;
  font-size: 14px;
}
footer .container .siteMap {
  width: 485px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
footer .container .siteMap ul li {
  margin-bottom: 16px;
  font-size: 14px;
  list-style: inside;
}
footer .container .siteMap ul li:hover {
  color: #ff5912;
}
footer .container .payment h3 {
  margin-bottom: 20px;
  font-weight: 800;
  color: #ff5912;
}

/*# sourceMappingURL=product_show.css.map */
