@charset "UTF-8";
@import "../css/reset.css";
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.title {
  text-align: center;
}
.title h2 {
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: 800;
  color: #34404b;
}
.title h2 > span {
  color: #ff5912;
}
.title p {
  color: #495662;
}

/* header */
.small_header {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #e6e8eb;
}
.small_header .company_info a {
  margin-right: 20px;
  padding-left: 23px;
  font-size: 12px;
  position: relative;
}
.small_header .company_info a::before {
  content: "";
  width: 18px;
  height: 11px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.small_header .company_info a + a::before {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -30px 0;
}
.small_header .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.small_header .social li {
  margin-left: 20px;
}

.big_header {
  height: 120px;
  line-height: 120px;
  border-bottom: 1px solid #e6e8eb;
}
.big_header .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.big_header .gnb .logo {
  margin-right: 84px;
}
.big_header .gnb .logo img {
  vertical-align: middle;
}
.big_header .gnb .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.big_header .gnb .menu li {
  margin-right: 40px;
}
.big_header .gnb .menu li a:hover {
  color: #ff5912;
}
.big_header .shopping_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.big_header .shopping_nav li {
  margin-left: 30px;
  position: relative;
}
.big_header .shopping_nav li form {
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.big_header .shopping_nav li form input[type=text] {
  width: 170px;
  padding-bottom: 4px;
  display: none;
  border-bottom: 1px solid #e6e8eb;
  color: #34404b;
  outline: none;
}
.big_header .shopping_nav li form input[type=text]:focus {
  border-bottom-color: #ff5912;
}
.big_header .shopping_nav li form .search_icon {
  width: 22px;
  height: 19px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -59px 0;
}
.big_header .shopping_nav li form .search_icon:hover {
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -59px -30px;
}
.big_header .shopping_nav li .mypage_icon {
  width: 22px;
  height: 21px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -89px 0;
}
.big_header .shopping_nav li .mypage_icon:hover {
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -89px -30px;
}
.big_header .shopping_nav li .cart_icon {
  width: 26px;
  height: 17px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -119px 0;
}
.big_header .shopping_nav li .cart_icon:hover {
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -119px -30px;
}
.big_header .shopping_nav li .cart_icon::before {
  content: attr(data-cart);
  width: 18px;
  height: 18px;
  font-size: 10px;
  text-align: center;
  line-height: 18px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background: #34404b;
  border-radius: 50%;
}

/* 메인 슬라이더 */
.main_visual {
  height: 650px;
  position: relative;
}
.main_visual .slick-slide {
  height: 650px !important;
}
.main_visual .slide1 {
  background: url("../images/feature_slide_1.jpg") no-repeat 0 0/cover;
}
.main_visual a {
  outline: none;
}
.main_visual a .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.main_visual a .container .slide_txt {
  width: 570px;
  margin-left: 85px;
}
.main_visual a .container .slide_txt h2 {
  margin-bottom: 20px;
  font-size: 52px;
  font-weight: 800;
  color: #ff5912;
}
.main_visual a .container .slide_txt h3 {
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: 600;
  color: #34404b;
}
.main_visual a .container .slide_txt p {
  color: #495662;
}
.main_visual a .container .slide_txt .price_order {
  margin-top: 62px;
  font-size: 18px;
  font-weight: 600;
}
.main_visual a .container .slide_txt .price_order .order_now {
  margin-left: 25px;
  color: #ff5912;
}
.main_visual a .container .slide_txt .price_order .order_now::before {
  content: "";
  width: 26px;
  height: 17px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -119px -30px;
}
.main_visual .slide2 {
  background: url("../images/feature_slide_2.jpg") no-repeat 0 0/cover;
}
.main_visual a {
  outline: none;
}
.main_visual a .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.main_visual a .container .slide_txt {
  width: 570px;
  margin-left: 85px;
}
.main_visual a .container .slide_txt h2 {
  margin-bottom: 20px;
  font-size: 52px;
  font-weight: 800;
  color: #ff5912;
}
.main_visual a .container .slide_txt h3 {
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: 600;
  color: #34404b;
}
.main_visual a .container .slide_txt p {
  color: #495662;
}
.main_visual a .container .slide_txt .price_order {
  margin-top: 62px;
  font-size: 18px;
  font-weight: 600;
}
.main_visual a .container .slide_txt .price_order .order_now {
  margin-left: 25px;
  color: #ff5912;
}
.main_visual a .container .slide_txt .price_order .order_now::before {
  content: "";
  width: 26px;
  height: 17px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -119px -30px;
}
.main_visual .slide3 {
  background: url("../images/feature_slide_3.jpg") no-repeat 0 0/cover;
}
.main_visual a {
  outline: none;
}
.main_visual a .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.main_visual a .container .slide_txt {
  width: 570px;
  margin-left: 85px;
}
.main_visual a .container .slide_txt h2 {
  margin-bottom: 20px;
  font-size: 52px;
  font-weight: 800;
  color: #ff5912;
}
.main_visual a .container .slide_txt h3 {
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: 600;
  color: #34404b;
}
.main_visual a .container .slide_txt p {
  color: #495662;
}
.main_visual a .container .slide_txt .price_order {
  margin-top: 62px;
  font-size: 18px;
  font-weight: 600;
}
.main_visual a .container .slide_txt .price_order .order_now {
  margin-left: 25px;
  color: #ff5912;
}
.main_visual a .container .slide_txt .price_order .order_now::before {
  content: "";
  width: 26px;
  height: 17px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -119px -30px;
}
.main_visual .slick-dots {
  position: absolute;
  top: 50%;
  left: 390px;
  transform: translateY(-50%);
}
.main_visual .slick-dots li {
  width: 10px;
  height: 17px;
  margin: 10px 0;
  background: #fff;
}
.main_visual .slick-dots li button {
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}
.main_visual .slick-dots li.slick-active {
  height: 36px;
  background: #ff5912;
}

main {
  background: #f4f6f8;
  /* new_arrivals */
  /* hot_deal_banner */
}
main .new_arrivals {
  padding-top: 120px;
  text-align: center;
}
main .new_arrivals .product_list {
  margin: 80px -15px 60px;
}
main .new_arrivals .product_list .product {
  width: 270px;
  height: 365px;
  overflow: hidden;
  margin: 0 20px 20px 0;
  padding: 30px 0;
  background: #fff;
  position: relative;
  transition: box-shadow 0.4s;
}
main .new_arrivals .product_list .product:nth-child(4n) {
  margin: 0 0 20px 0;
}
main .new_arrivals .product_list .product .info {
  font-size: 18px;
  font-weight: 700;
}
main .new_arrivals .product_list .product .info img {
  width: 160px;
  height: 216px;
  transition: all 0.4s;
}
main .new_arrivals .product_list .product .info .product_name {
  margin: 30px 0;
}
main .new_arrivals .product_list .product .info .price {
  color: #ff5912;
}
main .new_arrivals .product_list .hover {
  opacity: 0;
  transition: opacity 0.4s;
}
main .new_arrivals .product_list .hover .size {
  margin-bottom: 30px;
  display: -webkit-inline-flex;
  display: -webkit-inline-box;
  display: inline-flex;
  font-size: 14px;
}
main .new_arrivals .product_list .hover .size span {
  margin: 0 15px;
}
main .new_arrivals .product_list .hover .color span {
  width: 14px;
  height: 13px;
  display: inline-block;
  background: #000;
  border-radius: 50%;
}
main .new_arrivals .product_list .hover .color .red {
  background: #e12e3f;
}
main .new_arrivals .product_list .hover .color .black {
  background: #34404b;
}
main .new_arrivals .product_list .hover .color .blue {
  background: #3ab3ff;
}
main .new_arrivals .product_list .hover .color .green {
  background: #2fd967;
}
main .new_arrivals .product_list .hover .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
main .new_arrivals .product_list .hover .icons .share a {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -150px -1px;
}
main .new_arrivals .product_list .hover .icons .share a:hover {
  background-position-y: -31px;
}
main .new_arrivals .product_list .hover .icons .add_cart {
  margin: 0 30px;
}
main .new_arrivals .product_list .hover .icons .add_cart a {
  width: 22px;
  height: 19px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -180px 0px;
}
main .new_arrivals .product_list .hover .icons .add_cart a:hover {
  background-position-y: -30px;
}
main .new_arrivals .product_list .hover .icons .like a {
  width: 19px;
  height: 16px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -210px 0px;
}
main .new_arrivals .product_list .hover .icons .like a:hover {
  background-position-y: -30px;
}
main .new_arrivals .product_list .product:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
main .new_arrivals .product_list .product:hover .info img {
  width: 70px;
  height: 90px;
}
main .new_arrivals .product_list .product:hover .info .product_name {
  color: #ff5912;
}
main .new_arrivals .product_list .product:hover .info .price {
  display: none;
}
main .new_arrivals .product_list .product:hover .hover {
  opacity: 1;
}
main .new_arrivals .more_view {
  line-height: 60px;
  background: #fff;
}
main .new_arrivals .more_view span {
  width: 35px;
  height: 8px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat right 0;
}
main .hot_deal_banner {
  margin-top: 120px;
}
main .hot_deal_banner .banner {
  height: 100px;
  background: #fff;
  border: 1px solid #eaedef;
}
main .hot_deal_banner .hot_deal {
  width: 640px;
  margin-right: 30px;
}
main .hot_deal_banner .hot_deal a {
  width: 100%;
  height: 100%;
  padding: 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
main .hot_deal_banner .hot_deal a .evnet_info {
  margin: 0 60px 0 30px;
  line-height: 27px;
}
main .hot_deal_banner .hot_deal a .evnet_info .event_title {
  font-size: 22px;
  font-weight: 800;
}
main .hot_deal_banner .hot_deal a .evnet_info .desc {
  font-size: 12px;
  color: #495662;
}
main .hot_deal_banner .hot_deal a .price {
  font-size: 32px;
  font-weight: 800;
  color: #ff5912;
}
main .hot_deal_banner .hot_deal a .price::before {
  content: "";
  margin-right: 20px;
  width: 22px;
  height: 19px;
  display: inline-block;
  background: url("../images/sprites.png") no-repeat -180px -30px;
}
main .hot_deal_banner .hot_deal a .price span {
  font-size: 22px;
  font-weight: 400;
}
main .hot_deal_banner .avd {
  width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 24px;
}
main .hot_deal_banner .avd p span {
  color: #ff5912;
}
main .hot_deal_banner .avd .box_size {
  font-size: 12px;
  opacity: 0.4;
}

/*# sourceMappingURL=styles.css.map */
